<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
	
	<link th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}" rel="stylesheet"/>
	<link rel="stylesheet" th:href="@{static/assets/materialize/css/materialize.min.css}" media="screen,projection" />
    <!-- Bootstrap Styles-->
    <link th:href="@{static/assets/css/bootstrap.css}" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link th:href="@{static/assets/css/font-awesome.css}" rel="stylesheet" />
    <!-- Morris Chart Styles-->
    <link th:href="@{static/assets/js/morris/morris-0.4.3.min.css}" rel="stylesheet" />
    <!-- Custom Styles-->
    <link th:href="@{static/assets/css/custom-styles.css}" rel="stylesheet" />
    <!-- Google Fonts-->
    <link th:href='@{http://fonts.googleapis.com/css?family=Open+Sans}' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" th:href="@{static/assets/js/Lightweight-Chart/cssCharts.css}"/>
</head>
<body>
    <div id="wrapper">
	   <!--/. NAV TOP  -->
        <!--/. NAV TOP  -->
       <div th:include="navigation :: myfooter"  >
       
       		
       </div>
       
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
		  <div class="header"> 
                        <h1 class="page-header">
                             Charts 
                        </h1>
						<ol class="breadcrumb">
					  <li><a th:href="@{map.html}">地区</a></li>
					  <li><a th:href="@{#}">数据</a></li>
					  <li class="active"></li>
					</ol> 
									
		</div>
            <div id="page-inner"> 
            
			<div class="row"> 
                           
                <div class="col-md-6 col-sm-12 col-xs-12">                     
             		<div id="bar" style="width: 600px;height:400px;"></div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">                     
          			<div id="pie" style="width: 600px;height:400px;"></div>
                </div> 
           </div>
                <!-- /. ROW  -->
				 <footer><p>Copyright &copy; 2016.Company name All rights reserved.<a target="_blank" th:href="@{http://sc.chinaz.com/moban/}">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p></footer>
			</div>
             <!-- /. PAGE INNER  -->
             </div>
    	<!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script th:src="@{static/assets/js/jquery-2.1.4.js}"></script>
	
	<!-- Bootstrap Js -->
    <script th:src="@{static/assets/js/bootstrap.min.js}"></script>
	
	<script th:src="@{static/assets/materialize/js/materialize.min.js}"></script>
	
    <!-- Metis Menu Js -->
    <script th:src="@{static/assets/js/jquery.metisMenu.js}"></script>
   
	<script th:src="@{static/echarts.js}"></script>
	
	<script th:src="@{static/assets/js/easypiechart.js}"></script>
	<script th:src="@{static/assets/js/easypiechart-data.js}"></script>
	
	 <script th:src="@{static/assets/js/Lightweight-Chart/jquery.chart.js}"></script>
	
    <!-- Custom Js -->
    <script th:src="@{static/assets/js/custom.js}"></script> 
 
	<script type="text/javascript">
    	// 基于准备好的dom，初始化echarts实例
    	var myChart = echarts.init(document.getElementById('bar'));
   		// 指定图表的配置项和数据
   		myChart.setOption({
		
			title:{text:'统计数据'},
			tooltip:{},
			legend:{data:['事件类型']},
			xAxis: {data: []},
        	yAxis: {},
        	series: [{name: '事件类型',type: 'bar',data: []}]
		});
   		$.ajax({
   			url:"../getEventByType",
   			async:false,
   			cache:false,
   			success:function(data){
   				myChart.setOption({
   					xAxis:{data:data.eventTypeList},
   					series:[{name:'数量',data:data.list}]
   				});
   			},
   			error:function(error){
   				console.log(error);
   			}
   		});
	</script>
		<script type="text/javascript">
    	// 基于准备好的dom，初始化echarts实例
    	var myChart = echarts.init(document.getElementById('pie'));
   		// 指定图表的配置项和数据
   		var option = {
            title:{
                text:'统计数据'
            },            
            series:[{
            	name: '事件总数',
                type:'pie',    
                radius:'60%', 
                data:[
                    {value:5,name:'一季度'},
                    {value:20,name:'二季度'},
                    {value:36,name:'三季度'},
                    {value:10,name:'四季度'}
                ]
            }]
        };

    	// 使用刚指定的配置项和数据显示图表。
    	myChart.setOption(option);
	</script>
</body>

</html>
