﻿<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
	
	<link th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}" rel="stylesheet"/>
	<link rel="stylesheet" th:href="@{/static/assets/materialize/css/materialize.min.css}" media="screen,projection" />
    <!-- Bootstrap Styles-->
    <link th:href="@{/static/assets/css/bootstrap.css}" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link th:href="@{/static/assets/css/font-awesome.css}" rel="stylesheet" />
    <!-- Morris Chart Styles-->
    <link th:href="@{/static/assets/js/morris/morris-0.4.3.min.css}" rel="stylesheet" />
    <!-- Custom Styles-->
    <link th:href="@{/static/assets/css/custom-styles.css}" rel="stylesheet" />
    <!-- Google Fonts-->
    <link th:href='@{http://fonts.googleapis.com/css?family=Open+Sans}' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" th:href="@{/static/assets/js/Lightweight-Chart/cssCharts.css}"/>
</head>
<body>
    <div id="wrapper">
       <div th:include="header::header"></div>
	   <!--/. NAV TOP  -->
        <div th:include="nav::nav"></div>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
		  <div class="header"> 
                        <h1 class="page-header">
                            事件初报 <small>First report.</small>
                        </h1>
						<ol class="breadcrumb">
					  <li><a href="#">主页</a></li>
					  <li class="active"><a href="#">事件初报</a></li>
					</ol>
									
		</div>
            <div id="page-inner"> 
			
			  <div class="row">
                    
                    <div class="col-md-12">
                    <div class="card">
                        <div class="card-action">
                         事件初报信息
                        </div>        
                         <div class="card-content">
                         <form th:action="@{/event/saveEvent}">
                             <div class="row">
                                 <div class="input-field col s6">
                                     <input placeholder="事件名称" id="event_name" name="eventName" type="text" class="validate"/>
                                     <label for="event_name" class="active">事件名称</label>
                                 </div>
                                 <div class="input-field col s6">
                                     <input placeholder="报警人" id="first_name" name="discoverer" type="text" class="validate"/>
                                     <label for="first_name" class="active">报警人</label>
                                 </div>
                             </div>
                             <div class="row">
                                 <div class="col-md-6">
                                     <label>事件类型</label>
                                     <select name="eventTypeId" class="form-control input-sm"><option value="10">群体性事件</option><option value="25">建筑工程事件</option><option value="50">房屋倒塌事件</option></select>
                                 </div>
                                 <div class="input-field col s6">
                                     <input placeholder="报警人电话" id="one-tel" name="discovererTel" type="tel" class="validate"/>
                                     <label for="one-tel" class="active">报警人电话</label>
                                 </div>

                             </div>
                             <div class="row">
                                 <div class="col-md-6">
                                     <label>事件等级</label>
                                     <select name="eventLevel" aria-controls="dataTables-example" class="form-control input-sm"><option value="1">轻度</option><option value="2">中等</option><option value="3">严重</option></select>
                                 </div>
                                 <div class="input-field col s6">
                                     <input placeholder="伤亡人数" id="casualty" name="casualty" type="text" class="validate" />
                                     <input type="hidden" name="reporter" value="user"/>
                                     <label for="casualty" class="active">伤亡人数</label>
                                 </div>
                             </div>
                             <div class="row">
                                 <div class="col-md-6">
                                     <label>发生区域</label>
                                     <select name="eventAreaId" aria-controls="dataTables-example" class="form-control input-sm"></select>
                                 </div>
                                 <div class="input-field col s6">
                                     <input placeholder="详细地址" id="detail_addr" name="detailAddr" type="text" class="validate"/>
                                     <label for="detail_addr" class="active">详细地址</label>
                                 </div>
                             </div>
                             <div class="row" id="dynamic">
                             </div>
                             <div class="row">
                                 <div class="col-md-9"></div>
                                 <input type="hidden" name="btnName"/>
                                 <div class="col-md-1"><input type="submit" class="waves-effect waves-light btn" value="保存"/></div>
                                 <div class="col-md-2"><input type="submit" class="waves-effect waves-light btn" value="保存并上报"/></div>
                             </div>
							</form>

                         </div>
						 </div>
                    </div>
             	 </div>
				 <footer><p>Copyright &copy; 2016.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p></footer>
				</div>
             <!-- /. PAGE INNER  -->
            </div>
         <!-- /. PAGE WRAPPER  -->
        </div>
     <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script th:src="@{/static/jquery-2.1.4.js}"></script>
	
	<!-- Bootstrap Js -->
    <script th:src="@{/static/assets/js/bootstrap.min.js}"></script>
	
	<script th:src="@{/static/assets/materialize/js/materialize.min.js}"></script>
	
    <!-- Metis Menu Js -->
    <script th:src="@{/static/assets/js/jquery.metisMenu.js}"></script>
	
    <!-- Custom Js -->
    <script th:src="@{/static/assets/js/custom.js}"></script>
    
    <!-- My menu -->
    <script th:src="@{/static/my-menu.js}"></script>
    
    <script th:inline="javascript">
    	$(function(){
    		var type = $("[name=eventTypeId]");
    		
    		$.getJSON("/event/getArea",areaData);
    		$.getJSON("/event/getType",typeData);
    		
    		type.change(changeEvt);
    		$("[type=submit]").click(clickEvt);
    		
    		function changeEvt(){
    			$.getJSON("/event/getKey",{"typeId":this.value},keyData);
    			
    		}
    		
    		function clickEvt(){
    			$("[name=btnName]").val(this.value);
    		}
    		
    	});
    	
    	<!-- 初始化地区下拉单选框 -->
    	function areaData(data){
    		var $area = $("[name=eventAreaId]");
    		$area.empty();
    		$.each(data,function(i,e){
    			var $option = $("<option value="+ e.areaId +">"+e.areaName+"</option>");
    			$area.append($option);
    		});
    	}
    	
    	<!-- 初始化事件类型下拉单选框 -->
    	function typeData(data){
    		var $type = $("[name=eventTypeId]");
    		$type.empty();
    		$.each(data,function(i,e){
    			
    			var $option = $("<option value="+e.typeId+">"+e.typeName+"</option>");
    			
        		$type.append($option);
    		});
    		
    		var firstId = $("[name=eventTypeId]:first").val();
    		
    		$.getJSON("/event/getKey",{"typeId":firstId},keyData);
    	}
    	
    	<!-- 添加动态模块 -->
    	//<![CDATA[ 
    		function keyData(data){
        		$("#dynamic").empty();
        		$.each(data,function(i,e){
        			var keyList = new Array();
        			keyList.push(e.key1,e.key2,e.key3,e.key4,e.key5,e.key6);
        			
        			for(var j = 0,len = keyList.length; j < len; j++){
        			    if(keyList[j] == null || keyList[j].length == 0){
        			    	break;
        			    } else {
        			    	dynamicAdd(keyList[j],j);
        			    }
        			}
        			
        		});
        	}
			//]]>
    	
    	
    	<!-- 向动态模板添加input表单 -->
    	//<![CDATA[
    	function dynamicAdd(key,j){
    		$("#dynamic").append("<div class='input-field col s6'>"+
            "<input placeholder="+ key +" id="+ key +" name='value"+ (j+1) +"' type='text' class='validate'/>"+
                "<label for="+ key +" class='active'>"+ key +"</label></div>");  
    	}
    	//]]>

    </script>
</body>

</html>
