<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title></title>
</head>
	<div th:fragment="header">
    	<!-- 开始导航栏模块 -->
        <nav class="navbar navbar-default top-navbar" role="navigation">
        	<!-- 开始upload-system模块 -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle waves-effect waves-dark" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand waves-effect waves-dark" th:href="@{ui-elements.html}"><i class="large material-icons">insert_chart</i> <strong>upload-system</strong></a>
				
				<div id="sideNav" th:href="@{#}"><i class="material-icons dp48">toc</i></div>
            </div>
			<!-- 结束upload-system模块 -->
            <ul class="nav navbar-top-links navbar-right"> 
				<li><a class="dropdown-button waves-effect waves-dark" data-activates="dropdown2"><i class="fa fa-bell fa-fw"></i> <i class="material-icons right">arrow_drop_down</i></a></li>
				<li><a class="dropdown-button waves-effect waves-dark" th:href="@{#!}" data-activates="dropdown1"><i class="fa fa-user fa-fw"></i> <b>张三</b> <i class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
        </nav>
	
		<ul id="dropdown1" class="dropdown-content">
			<li><a th:href="@{#}"><i class="fa fa-user fa-fw"></i> 个人信息</a>
			</li> 
			<li><a th:href="@{#}"><i class="fa fa-sign-out fa-fw"></i> 注销</a>
			</li>
		</ul>
		<ul id="dropdown2" class="dropdown-content w250">
			
			<li >
				<a th:href="@{/home}">
					<div>
						<i class="fa fa-envelope fa-fw"></i> 未处理信息
						<span class="pull-right text-muted small" id="UNInformation">10</span>
					</div>
				</a>
			</li>
		</ul>
	</div>
</html>
