<!DOCTYPE html>
<!-- <html xmlns="http://www.w3.org/1999/xhtml"> -->
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>主界面</title>
	
	<link th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}" rel="stylesheet"/>
	<link rel="stylesheet" th:href="@{static/assets/materialize/css/materialize.min.css}" media="screen,projection" />
    <!-- Bootstrap Styles-->
    <link th:href="@{static/assets/css/bootstrap.css}" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link th:href="@{static/assets/css/font-awesome.css}" rel="stylesheet" />
    <!-- Morris Chart Styles-->
    <link th:href="@{static/assets/js/morris/morris-0.4.3.min.css}" rel="stylesheet" />
    <!-- Custom Styles-->
    <link th:href="@{static/assets/css/custom-styles.css}" rel="stylesheet" />
    <!-- Google Fonts-->
    <link th:href='@{http://fonts.googleapis.com/css?family=Open+Sans}' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" th:href="@{static/assets/js/Lightweight-Chart/cssCharts.css}"/>
   
</head>
<body>
    <div th:include="header::header"></div>
	   <!--/. NAV TOP  -->
    <div th:include="nav::nav"></div>
		<!-- 结束导航栏模块 -->
        <!-- /. NAV SIDE  -->
      
		<div id="page-wrapper">
			<div class="header"> 
				<h1 class="page-header">
					主界面
				</h1>
					<!-- 小导航栏  -->
					<ol class="breadcrumb">
					  <li><a th:href="@{/home}">主界面</a></li>
					  <li class="active">事件列表展示</li>
					</ol> 									
			</div>
			
			<div class="col-md-12">
				<div class="card"> 
									
					<div class="card-content"> 

					   <div style="margin-top: 10px;">
							
							<div class="btn-group">
							  <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle" id="eventType">事件类型<span class="caret"></span></button>
							  <ul class="dropdown-menu" >
							  	<select name="eventTypeSelect" class="form-control col s10 " multiple="multiple" style="height: 100px" >
							  		<option value="0">事件类型</option>
									<option th:each="enventType,listate:${eventlist}"><span th:text="${enventType.typeName}"></span></option>
								</select>
							  </ul>
								
							</div>
							<div style="margin:5px;" class="btn-group">
							  <button data-toggle="dropdown" class="btn btn-danger dropdown-toggle" id="eventLevel">事件等级<span class="caret"></span></button>
							  <ul class="dropdown-menu">
								<select name="eventLevelSelect" class="form-control col s10 " multiple="multiple" style="height: 100px">
									<option value="0">事件等级</option>
									<option value="1">一级事件</option>
									<option value="2">二级事件</option>
									<option value="3">三级事件</option>
								</select>
							  </ul>
							</div>
						   <div style="margin:5px;" class="btn-group">
							  <button data-toggle="dropdown" class="btn btn-warning dropdown-toggle" id="eventArea">区域<span class="caret"></span></button>
							  <ul class="dropdown-menu">
							  	<select name="eventAreaSelect" class="form-control col s10 " multiple="multiple" style="height: 100px" >
							  		<option value="0">区域</option>
									<option th:each="eventArea,listate:${areaList}"><span th:text="${eventArea.areaName}"></span></option>
								</select>
								
							  </ul>
							</div>
							<div style="margin:5px;" class="btn-group">
							  <button data-toggle="dropdown" class="btn btn-warning dropdown-toggle" id="eventState">事件状态<span class="caret"></span></button>
							  <ul class="dropdown-menu">
								<select name="eventStateSelect"  class="form-control col s10 " multiple="multiple" style="height: 100px">
									<option value="0">事件状态</option>
									<option th:each="State,listate:${stateList}"><span th:text="${State.eventState}"></span></option>
								</select>
								
							  </ul>
							</div>
							
				<div class="card">
                        <div class="card-action">
                            <strong class="left">事件列表</strong>
							<a th:href="@{/event/first}" class="waves-effect waves-light btn right">添加事件</a>
                        </div>
                        <div class="card-content">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead>
                                        <tr>
                                            <th class="center">事件名</th>
                                            <th class="center">事件类型</th>
                                            <th class="center">事件等级</th>
                                            <th class="center">地区</th>
                                            <th class="center">报警人</th>
                                            <th class="center">报警人电话</th>
                                            <th class="center">事件状态</th>
                                            <th class="center">操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="dto,trstate:${dtoList}">
                                            <td class="center" th:text="${dto.eventName}"></td>
                                            <td class="center" th:text="${dto.typeName}"></td>
                                            <td class="center" th:text="${dto.eventLevel}"></td>
                                            <td class="center" th:text="${dto.areaName}"></td>
                                            <td class="center" th:text="${dto.discoverer}"></td>
                                            <td class="center" th:text="${dto.discovererTel}"></td>
                                            <td class="center" th:text="${dto.eventState}"></td>
                                            <td class="col-md-4">
                                            	<div th:if="${dto.eventState eq '未处理'}">
                                            		<a th:href="@{event/del(eventId=${dto.firstEventNo})}" class="waves-effect waves-light btn">删除</a>
													<a th:href="@{event/update(eventId=${dto.firstEventNo})}" class="waves-effect waves-light btn">修改</a>
													<a th:href="@{event/upload(eventId=${dto.firstEventNo})}" class="waves-effect waves-light btn">上报</a>
													<a th:href="@{event/info(eventId=${dto.firstEventNo})}" class="waves-effect waves-light btn">查看</a>
                                            	</div>
												<div th:if="${dto.eventState eq '处理中'}">
                                            		<a th:href="@{goToContinue(firstEventNo=${dto.firstEventNo})}" class="waves-effect waves-light btn">续报</a>
													<a th:href="@{showFirstEventMessage(firstEventNo=${dto.firstEventNo})}" class="waves-effect waves-light btn">查看</a>
                                            	</div>
                                            	<div th:if="${dto.eventState eq '结束'}">
													<a th:href="@{showFirstEventMessage(firstEventNo=${dto.firstEventNo})}" class="waves-effect waves-light btn">查看</a>
                                            	</div>
											</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!-- 分页  -->
                                <div>
                                	<input type="hidden" value="0" id="pageNum"/>
									<input type="hidden" id="pageAll"/>
									<button type="button" class="waves-effect waves-light btn" value="首页" name="operation">首页</button>
									<button type="button" class="waves-effect waves-light btn" value="上一页" name="operation">上一页</button>
									<button type="button" class="waves-effect waves-light btn" value="下一页" name="operation">下一页</button>
									<button type="button" class="waves-effect waves-light btn" value="尾页" name="operation">尾页</button>
									<input type="text" class="form-control" id="tiaozhuan" name="tiaozhuan" placeholder="跳转" style="width: 27px;display: inline" />
									<button type="button"  class="waves-effect waves-light btn" value="跳转" name="operation">跳转</button>
                                </div>
                            </div>                            
                        </div>
                    </div>						
				  </div> 
				</div>
			  </div>
            </div>
			
			<!-- 页脚  -->
			<footer>
				<p>Copyright &copy; 2016.Company name All rights reserved.<a target="_blank" th:href="@{http://sc.chinaz.com/moban/}">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
			</footer>
     </div>
    <script th:src="@{static/assets/js/jquery-1.10.2.js}"></script>
	
	<!-- Bootstrap Js -->
    <script th:src="@{static/assets/js/bootstrap.min.js}"></script>
	
	<script th:src="@{static/assets/materialize/js/materialize.min.js}"></script>
	
    <!-- Metis Menu Js -->
    <script th:src="@{static/assets/js/jquery.metisMenu.js}"></script>
    <!-- Morris Chart Js -->
    <script th:src="@{static/assets/js/morris/raphael-2.1.0.min.js}"></script>
    <script th:src="@{static/assets/js/morris/morris.js}"></script>
	
	
	<script th:src="@{static/assets/js/easypiechart.js}"></script>
	<script th:src="@{static/assets/js/easypiechart-data.js}"></script>
	
	<script th:src="@{static/assets/js/Lightweight-Chart/jquery.chart.js}"></script>
	
    <!-- Custom Js -->
    <script th:src="@{static/assets/js/custom.js}"></script>
    <script th:src="@{static/my-menu.js}"></script>
     
 	 <script type="text/javascript">
    	$(function() {
    		var pageNum=parseInt($("#pageNum").val());
			var eventTypeValue = $("#eventType").text();
  			var eventLevelValue = $("#eventLevel").text();
  			var eventAreaValue = $("#eventArea").text();
  			var eventStateValue = $("#eventState").text();
    		$.getJSON("findEventTypeLists",{pageNum:0,typeName:eventTypeValue,eventLevel:eventLevelValue,
				areaName:eventAreaValue,eventState:eventStateValue},showHomeEvent);
    		
			/* 获取事件类型 事件等级 地区 状态值在按钮中显示 */
			$("[name=eventLevelSelect]").change(eventLevelEvt);
			$("[name=eventTypeSelect]").change(eventTypeEvt);
			$("[name=eventAreaSelect]").change(eventAreaEvt);
			$("[name=eventStateSelect]").change(eventStateEvt);
			
			/* 分页 */
			$("[name=operation]").click(page);
			
			$("a").click(function(){
				closeWebSocket
			});
			
		});
    	
    	/* 事件类型 */
		function eventTypeEvt() {
			var value = $("[name=eventTypeSelect] option:selected").text();
			$("#eventType").text(value);
			page();
		}
		/* 事件等级  */
		function eventLevelEvt(){
			var value = $("[name=eventLevelSelect] option:selected").text();
			$("#eventLevel").text(value);
			page();
		}
		
		/* 地区 */
		function eventAreaEvt() {
			var value = $("[name=eventAreaSelect] option:selected").text();
			$("#eventArea").text(value);
			page();
		}
		/* 状态 */
		function eventStateEvt() {
			var value = $("[name=eventStateSelect] option:selected").text();
			$("#eventState").text(value);
			page();
		}
		
		function getList(){
			var pageNum=parseInt($("#pageNum").val());
			var eventTypeValue = $("#eventType").text();
  			var eventLevelValue = $("#eventLevel").text();
  			var eventAreaValue = $("#eventArea").text();
  			var eventStateValue = $("#eventState").text();
            $.getJSON("findEventTypeLists",{pageNum:pageNum,typeName:eventTypeValue,eventLevel:eventLevelValue,
    				areaName:eventAreaValue,eventState:eventStateValue},showHomeEvent);
		}
		
		/* 分页 */
		//<![CDATA[
		function page() {
			
			 var btn=this.value;
              var pageNum=parseInt($("#pageNum").val());
             
              var pageAll=parseInt($("#pageAll").val());
              if($("#pageAll").val() == ""){
            	  pageAll = 0;
              }
              
              if(btn=="首页"){
            	  pageNum=0;
              }else if(btn=="上一页"){
            	  pageNum=pageNum-1;
                  if(pageNum<0){
                	  pageNum=0;
                  }
              }else if(btn=="下一页"){
            	  pageNum+=1;
                  if(pageNum>(pageAll-1)){
                	  pageNum=pageAll-1;
                  }
                  
              }else if(btn=="尾页"){
            	  pageNum=pageAll-1;
              }else if(btn=="跳转"){
            	  pageNum=parseInt($("#tiaozhuan").val());
            	  pageNum=pageNum-1;
            	  if(pageNum>(pageAll-1)){
            		  pageNum=pageAll-1;
            	  }else if(pageNum<0){
                	  pageNum=0;
                  }
			  }
              	var eventTypeValue = $("#eventType").text();
	  			var eventLevelValue = $("#eventLevel").text();
	  			var eventAreaValue = $("#eventArea").text();
	  			var eventStateValue = $("#eventState").text();
                $.getJSON("findEventTypeLists",{pageNum:pageNum,typeName:eventTypeValue,eventLevel:eventLevelValue,
        				areaName:eventAreaValue,eventState:eventStateValue},showHomeEvent);

		}
		//]]>
		
		//<![CDATA[
		function showHomeEvent(data) {
			var $tbody = $("tbody");
			$tbody.empty();
			$.each(data.list,function(i,e){
				var eventName = e.eventName;
				var typeName = e.typeName;
				var eventLevel = e.eventLevel;
				var areaName = e.areaName;
				var discoverer = e.discoverer;
				var discovererTel = e.discovererTel;
				var eventState = e.eventState;
				if(eventState=="未处理"){
					var  $tr = ("<tr><td class='center'>"+eventName+"</td><td class='center'>"+typeName+"</td>"
							+ "<td class='center'>"+eventLevel+"</td><td class='center'>"+areaName+"</td>"
							+ "<td class='center'>"+discoverer+"</td><td class='center'>"+discovererTel+"</td>"
							+ "<td class='center'>"+eventState+"</td><td class='col-md-4'>"
							+ "<a href=event/del?eventId="+e.firstEventNo+" class='waves-effect waves-light btn'>删除</a>" 
							+ "<a href=event/update?eventId="+e.firstEventNo+" class='waves-effect waves-light btn'>修改</a>"
							+ "<a href=event/upload?eventId="+e.firstEventNo+" class='waves-effect waves-light btn'>上报</a>"
							+ "<a href=event/info?eventId="+e.firstEventNo+" class='waves-effect waves-light btn'>查看</a>"
							+ "</td></tr>");
				}else if(eventState=="处理中"){
					var  $tr = ("<tr><td class='center'>"+eventName+"</td><td class='center'>"+typeName+"</td>"
							+ "<td class='center'>"+eventLevel+"</td><td class='center'>"+areaName+"</td>"
							+ "<td class='center'>"+discoverer+"</td><td class='center'>"+discovererTel+"</td>"
							+ "<td class='center'>"+eventState+"</td><td class='col-md-4'>"
							+ "<a href=goToContinue?firstEventNo="+e.firstEventNo+" class='waves-effect waves-light btn'>续报</a>" 
							+ "<a href=showFirstEventMessage?firstEventNo="+e.firstEventNo+" class='waves-effect waves-light btn'>查看</a>"
							+ "</td></tr>");
				}else{
					var  $tr = ("<tr><td class='center'>"+eventName+"</td><td class='center'>"+typeName+"</td>"
							+ "<td class='center'>"+eventLevel+"</td><td class='center'>"+areaName+"</td>"
							+ "<td class='center'>"+discoverer+"</td><td class='center'>"+discovererTel+"</td>"
							+ "<td class='center'>"+eventState+"</td><td class='col-md-4'>"
							+ "<a href='#' class='waves-effect waves-light btn'>查看</a>"
							+ "</td></tr>");
				}
				
				$tbody.append($tr);
				
			});
			var pageNum = data.pageNum;
            var pageAll = data.pageAll;
            //记录数据信息（当前页数和总页数）
            $("#pageNum").val(pageNum);
            $("#pageAll").val(pageAll);
		}
		//]]>
		
		var websocket =  null ;

		// 判断当前浏览器是否支持WebSocket
		if ('WebSocket' in window){
		websocket =  new WebSocket("ws://192.168.1.103:8080/websocket");
		}
		else {
		alert('Not support websocket')
		}


		// 接收到消息的webSocket回调方法
		websocket.onmessage =  function (event){
			alert("refresing");
			getList();
		}

		// 监听窗口关闭事件，当窗口关闭时，主动去关闭websocket连接，防止连接还没断开就关闭窗口，server端会抛异常。
		window.onbeforeunload =  function (){
		websocket.close();
		}

		// 关闭连接
		function closeWebSocket(){
		websocket.close();
		}
    </script>

</body>

</html>