﻿<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
	
	
	<link th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}" rel="stylesheet" />
	<link rel="stylesheet" th:href="@{static/assets/materialize/css/materialize.min.css}" media="screen,projection" />
    <!-- Bootstrap Styles-->
    <link th:href="@{static/assets/css/bootstrap.css}" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link th:href="@{static/assets/css/font-awesome.css}" rel="stylesheet" />
    <!-- Morris Chart Styles-->
    <link th:href="@{static/assets/js/morris/morris-0.4.3.min.css}" rel="stylesheet" />
    <!-- Custom Styles-->
    <link th:href="@{static/assets/css/custom-styles.css}" rel="stylesheet" />
    <!-- Google Fonts-->
    <link th:href='@{http://fonts.googleapis.com/css?family=Open+Sans}' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" th:href="@{static/assets/js/Lightweight-Chart/cssCharts.css}"/>
</head>
<body>
    <div id="wrapper">
    
         <div th:include="header::header"></div>
		<!-- 结束导航栏模块 -->
	   <!--/. NAV TOP  -->
        <div th:include="nav::nav"></div>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
		  <div class="header"> 
                        <h1 class="page-header">
                            交班管理
                        </h1>
									
		</div>
            <div id="page-inner"> 
			
			  <div class="row">
                   
                    <div class="col-md-4">
                  <form th:action="@{shiftexchange}" method="post">
                       <div class="card">
                            <div class="card teal">
                                <div class="card-content white-text">
                                    <span class="card-title">换班</span>
                                </div>
                            </div>
                            <div class="card-content">
                                <div class="row">
                                    <div class="icon-preview col m2">
                                        <i class="material-icons dp48">帐号</i>
                                    </div>
                                    <div class="input-field col s9">
                                    <input type="test" th:value="${user.uname}" id="username"  name="username" readOnly="readonly"/>
                                       
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="icon-preview col m2">
                                        <i class="material-icons dp48">密码</i>
                                    </div>
                                    <div class="input-field col s9">
                                        <input id="password" type="password" class="validate"  name="password" required="required"/>
                                        <label for="password" class="">Password</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-9"></div>
								<input type="submit" name="ButtonBaidu" value="交班" id="Buttontijiao" class="waves-effect waves-light btn" />
                                </div>
                            </div>
                        </div>
                          </form>
					</div>
						  <div class="col-md-7">
						  <div class="card">
						  <div class="card-content">
						<form th:action="@{saveshiftexchangecontent}" method="post">
						<div class="row">
					
							<textarea name="daily"  id="daily" required="required" style="width:100%;height:270px;overflow:scroll;resize:none; "></textarea>
							<label for="content">日志</label>
					<div style="float:right;">
					<input type="submit" name="ButtonBaidu" value="提交日志" id="Button" class="waves-effect waves-light btn" />
					</div>
					
					</div>
					</form>
					</div>
					</div>
						</div>
					 
				</div>

				<div class="card">
				<div class="card-content">
				<div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline" role="grid"><div class="row"><div class="col-sm-6"><div class="col-sm-6"><div id="dataTables-example_filter" class="dataTables_filter"></div></div></div><table class="table table-striped table-bordered table-hover dataTable no-footer" id="dataTables-example" aria-describedby="dataTables-example_info">
                                    <thead>
                                        <tr role="row"><th class="sorting_asc" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column ascending" style="width: 166px;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">操作人</font></font></th><th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 258px;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">操作事件</font></font></th><th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 234px;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">日期</font></font></th>
                                   </tr>
                                    </thead>
                         
                         </table>		
							<input type="hidden" th:value="${pageBean.pageNum}" id="pageNum"/>
							<input type="hidden" th:value="${pageBean.pageAll}" id="pageAll"/>
							<button type="button" class="waves-effect waves-light btn" value="首页" name="operation">首页</button>
							<button type="button" class="waves-effect waves-light btn" value="上一页" name="operation">上一页</button>
							<span class=" btn-info" id="span"></span>
							<button type="button" class="waves-effect waves-light btn" value="下一页" name="operation">下一页</button>
							<button type="button" class="waves-effect waves-light btn" value="尾页" name="operation">尾页</button>
							<button type="button"  class="waves-effect waves-light btn" value="跳转" name="operation">跳转</button>
							 <input type="text" class="form-control" id="tiaozhuan" name="tiaozhuan" placeholder="请输入跳转页面"/>
							 <button type="button"  class="waves-effect waves-light btn" value="查找" name="operation">查找</button>
							 <input type="text" class="form-control" id="chazhao" name="chazhao" placeholder="请输入查找信息"/>
							
	
					</div></div></div>
				 <footer><p>Copyright &copy; 2016.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p></footer>
             <!-- /. PAGE INNER  -->
            </div>
         <!-- /. PAGE WRAPPER  -->
        </div>
     <!-- /. WRAPPER  -->
     </div>
    </div>
    
    <!-- JS Scripts-->
    <!-- jQuery Js -->
     <script th:src="@{static/jquery-2.1.4.js}"></script>
	
	<!-- Bootstrap Js -->
    <script th:src="@{static/assets/js/bootstrap.min.js}"></script>
	
	<script th:src="@{static/assets/materialize/js/materialize.min.js}"></script>
	
    <!-- Metis Menu Js -->
    <script th:src="@{static/assets/js/jquery.metisMenu.js}"></script>
    <!-- Morris Chart Js -->
    <script th:src="@{static/assets/js/morris/raphael-2.1.0.min.js}"></script>
    <script th:src="@{static/assets/js/morris/morris.js}"></script>
	
	
	<script th:src="@{static/assets/js/easypiechart.js}"></script>
	<script th:src="@{static/assets/js/easypiechart-data.js}"></script>
	
	<script th:src="@{static/assets/js/Lightweight-Chart/jquery.chart.js}"></script>
	
	<script th:src="@{static/assets/js/morris/morris.js}"> </script>
	
    <!-- Custom Js -->
    <script th:src="@{static/assets/js/custom.js}"></script> 
     <!-- My menu -->
    <script th:src="@{/static/my-menu.js}"></script>
	<script>
	 
	
	
	//<![CDATA[ 
	$(function(){
		var pageNum=0;
		//条件查询文本值
		var too=null;
		  $.getJSON("JournalchangePage",{pageNum:pageNum,too:too},filldate);
		  $(":button").click(function (){
              var btn=this.value;
              var pageNum=parseInt($("#pageNum").val());
             
              var pageAll=parseInt($("#pageAll").val());
              
              if(btn=="首页"){
            	  pageNum=0;
                  $.getJSON("JournalchangePage",{pageNum:pageNum,too:too},filldate)
              }else if(btn=="上一页"){
            	  pageNum=pageNum-1;
                  if(pageNum<0){
                	  alert("到头啦");
                	  pageNum=0;
                  }
                  $.getJSON("JournalchangePage",{pageNum:pageNum,too:too},filldate)
              }else if(btn=="下一页"){
            	  pageNum+=1;
                  if(pageNum>(pageAll-1)){
                	  pageNum=pageAll-1;
                	  alert("超出当前最大页码");
                  }
                  
                  $.getJSON("JournalchangePage",{pageNum:pageNum,too:too},filldate)
              }else if(btn=="尾页"){
            	  pageNum=pageAll-1;
                  $.getJSON("JournalchangePage",{pageNum:pageNum,too:too},filldate)
              }else if(btn=="跳转"){
            	  pageNum=parseInt($("#tiaozhuan").val());
            	  pageNum=pageNum-1;
            	  if(pageNum>(pageAll-1)){
            		  pageNum=pageAll-1;
            		  alert("超出当前最大页码");
            	  }else if(pageNum<0){
                	  pageNum=0;
                	  alert("到头啦");
                  }
            	  
                  $.getJSON("JournalchangePage",{pageNum:pageNum,too:too},filldate)
              }else if(btn=="查找"){
            	  too=$("#chazhao").val();
            		  pageNum=0;
            	
                  $.getJSON("JournalchangePage",{pageNum:pageNum,too:too},filldate)
              }
              
              
              
		  
	});
	 
	})
	//]]>
	//<![CDATA[ 
	function filldate(data){
                var $table=$("table");
                var $head=$("<tr><th>ID</th><th>操作人</th><th>操作事件</th><th>操作时间</th></tr>")
                $table.empty();
                $table.append($head);

                $.each(data.list, function (i,e) {
                   
                    var dataTr = "<tr><td>" + e.id
                        + "</td><td>" + e.name
                        + "</td><td>" + e.incident
                        + "</td><td>" + e.data
                        + "</td></tr>";
                    $table.append(dataTr);
                });
             var pageNum = data.pageNum;
             var pageAll = data.pageAll;
            
             //记录数据信息（当前页数和总页数）
             $("#pageNum").val(pageNum);
             $("#pageAll").val(pageAll);
             //渲染 “第2页/共11页” 信息
             $("#span").html("第" + (pageNum+1) + "页/共" + pageAll + "页");
	}
	//]]>
    </script>
 
 
</body>

</html>
