<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1, user-scalable=no" />
<title></title>
<script type="text/javascript"
	th:src="@{http://api.map.baidu.com/api?v=2.0&amp;ak=nNnnSeN0v1yZntuMG1S1FmQx6yHB62Mo}"></script>
<link
	th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}"
	rel="stylesheet" />
<link rel="stylesheet"
	th:href="@{static/assets/materialize/css/materialize.min.css}"
	media="screen,projection" />
<!-- Bootstrap Styles-->
<link th:href="@{static/assets/css/bootstrap.css}" rel="stylesheet" />
<!-- FontAwesome Styles-->
<link th:href="@{static/assets/css/font-awesome.css}" rel="stylesheet" />
<!-- Morris Chart Styles-->
<link th:href="@{static/assets/js/morris/morris-0.4.3.min.css}"
	rel="stylesheet" />
<!-- Custom Styles-->
<link th:href="@{static/assets/css/custom-styles.css}" rel="stylesheet" />
<!-- Google Fonts-->
<link th:href='@{http://fonts.googleapis.com/css?family=Open+Sans}'
	rel='stylesheet' type='text/css' />
<link rel="stylesheet"
	th:href="@{static/assets/js/Lightweight-Chart/cssCharts.css}" />
</head>
<body>
	<div id="wrapper">
		<div th:include="nav :: nav" >
       	</div>
       <div th:include="header :: header" >
       </div>
		<!-- /. NAV SIDE  -->
		<div id="page-wrapper">
			<div class="header">
				<h1 class="page-header">Charts</h1>
				<ol class="breadcrumb">
					<li><a th:href="@{map.html}">地区</a></li>
					<li><a th:href="@{#}">数据</a></li>
					<li class="active"></li>
				</ol>

			</div>
			<div id="page-inner">

				<div id="container" style="width: 1100px; height: 600px"></div>

				<!-- /. ROW  -->
				<footer>
					<p>
						Copyright &copy; 2016.Company name All rights reserved.<a
							target="_blank" th:href="@{http://sc.chinaz.com/moban/}">&#x7F51;&#x9875;&#x6A21;&#x677F;</a>
					</p>
				</footer>
			</div>
			<!-- /. PAGE INNER  -->
		</div>
		<!-- /. PAGE WRAPPER  -->
	</div>
	<!-- /. WRAPPER  -->
	<!-- JS Scripts-->
	<!-- jQuery Js -->
	<script th:src="@{static/assets/js/jquery-2.1.4.js}"></script>

	<!-- Bootstrap Js -->
	<script th:src="@{static/assets/js/bootstrap.min.js}"></script>

	<script th:src="@{static/assets/materialize/js/materialize.min.js}"></script>

	<!-- Metis Menu Js -->
	<script th:src="@{static/assets/js/jquery.metisMenu.js}"></script>
	<!-- Morris Chart Js -->
	<script th:src="@{static/assets/js/morris/raphael-2.1.0.min.js}"></script>
	<script th:src="@{static/assets/js/morris/morris.js}"></script>


	<script th:src="@{static/assets/js/easypiechart.js}"></script>
	<script th:src="@{static/assets/js/easypiechart-data.js}"></script>

	<script th:src="@{static/assets/js/Lightweight-Chart/jquery.chart.js}"></script>

	<!-- Custom Js -->
	<script th:src="@{static/assets/js/custom-scripts.js}"></script>
	<script th:src="@{static/my-menu.js}"></script>

</body>
</html>
<script type="text/javascript">
	var map = new BMap.Map('container');
	// 创建地图实例
	var point = new BMap.Point(104.06, 30.67);
	// 创建点坐标
	map.centerAndZoom(point, 12);
	// 初始化地图， 设置中心点坐标和地图级别

	map.enableScrollWheelZoom(true);

	madeBoundary();

	//区域图
	//<![CDATA[ 
	function madeBoundary() {

		var datas = new Array("成华区-#665599", "锦江区-#559955", "武侯区-#666ddd",
				"金牛区-#1199cc", "青羊区-#12331");
		var bdary = new BMap.Boundary();
		for (var i = 0; i < datas.length; i++) {
			getBoundary(datas[i], bdary);

		}

	}
	//]]>
	//设置区域图
	//<![CDATA[ 
	function getBoundary(data, bdary) {
		data = data.split("-");
		bdary.get(data[0], function(rs) { //获取行政区域
			var count = rs.boundaries.length; //行政区域的点有多少个

			var pointArray = [];
			for (var i = 0; i < count; i++) {
				var ply = new BMap.Polygon(rs.boundaries[i], {
					strokeWeight : 2,
					strokeColor : "#ff0000",
					fillOpacity : 0.5,
					fillColor : data[1]
				}); //建立多边形覆盖物

				map.addOverlay(ply); //添加覆盖物

			}

		});

	}
	//]]>
	function showInfo(e) {
		var opts = {    
			    width : 250,     // 信息窗口宽度    
			    height: 100,     // 信息窗口高度    
			    title : "事件汇总"  // 信息窗口标题   
			}    
			var infoWindow = new BMap.InfoWindow("事件总数", opts);  // 创建信息窗口对象    
			map.openInfoWindow(infoWindow, map.getCenter());      // 打开信息窗口
	}
	map.addEventListener("click", showInfo);
</script>
