<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
	
	
	<link th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}" rel="stylesheet" />
	<link rel="stylesheet" th:href="@{static/assets/materialize/css/materialize.min.css}" media="screen,projection" />
    <!-- Bootstrap Styles-->
    <link th:href="@{static/assets/css/bootstrap.css}" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link th:href="@{static/assets/css/font-awesome.css}" rel="stylesheet" />
    <!-- Morris Chart Styles-->
    <link th:href="@{static/assets/js/morris/morris-0.4.3.min.css}" rel="stylesheet" />
    <!-- Custom Styles-->
    <link th:href="@{static/assets/css/custom-styles.css}" rel="stylesheet" />
    <!-- Google Fonts-->
    <link th:href='@{http://fonts.googleapis.com/css?family=Open+Sans}' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" th:href="@{static/assets/js/Lightweight-Chart/cssCharts.css}"/>
</head>
<body>
<div id="wrapper">
	<div th:include="header::header"></div>
	<!--/. NAV TOP  -->
    <div th:include="nav::nav"></div>
    <!-- /. NAV SIDE  -->
    <div id="page-wrapper">
        <div class="header">
            <h1 class="page-header">
                <small> 日常值班表</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#">日期</a></li>
                <li><a href="#">值班人员</a></li>
                <li><a href="#">联系电话</a></li>
                <li><a href="#">备注</a></li>
            </ol>
            <div class="col-md-5">
                <form method="post" enctype="multipart/form-data" id="form" action="/importExcel">

                    <input type="file" name="filename"  />
                    <span>
                         <input type="submit" class="btn btn-info" />
                    </span>



                </form>
            </div>

        </div>


            <div id="page-inner">


                <div class="row">
                    <div class="col-md-12">
                        <!-- Advanced Tables -->

                        <div class="card-content">
                            <div class="table-responsive">
                                <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline" role="grid">
                                    <div class="row"><div class="col-md-5">
<!--                                        <div class="dataTables_length" id="dataTables-example_length">
                                            <label>
                                                <select name="dataTables-example_length" aria-controls="dataTables-example" class="form-control input-sm">
                                                    <option value="10">10</option>
                                                    <option value="25">25</option>
                                                    <option value="50">50</option>
                                                    <option value="100">100</option>
                                                </select> 每页记录</label>
                                        </div>-->
                                    </div>

                                        <table class="table table-striped table-bordered table-hover dataTable no-footer" id="dataTables-example" aria-describedby="dataTables-example_info" style="margin-left: 50px;overflow:hidden;">



                                        </table>

                                        <div class="row">

                                            <div class="col-sm-6 col-md-offset-1">
                                                <div class="dataTables_paginate paging_simple_numbers" id="dataTables-example_paginate">
                                                    <ul class="pagination">
                                                        <li class="paginate_button previous" aria-controls="dataTables-example" tabindex="0" id="dataTables-example_previous">
                                                            <input type="hidden" th:value="${pageBean.pageNum}" id="pageNum"/>
                                                            <input type="hidden" th:value="${pageBean.pageAll}" id="pageAll"/>
                                                            <button type="button" class="btn btn-info" value="首页" name="operation">首页</button>
                                                            <button type="button" class="btn btn-info" value="上一页" name="operation">上一页</button>
                                                            <button type="button" class="btn btn-info" value="下一页" name="operation">下一页</button>
                                                            <button type="button" class="btn btn-info" value="尾页" name="operation">尾页</button>
                                                            <span class="card-title" id="span"></span>
                                                        </li>
                                                    </ul>

                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End Advanced Tables -->
            </div>
        </div>


    </div>
    <div id="page-inner">

        <div class="row">

            <div class="col-md-12">
            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
        <footer><p>Copyright &copy; 2016.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p></footer>
    </div>
    <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script th:src="@{static/jquery-2.1.4.js}"></script>

    <!-- Bootstrap Js -->
    <script th:src="@{static/assets/js/bootstrap.min.js}"></script>

    <script th:src="@{static/assets/materialize/js/materialize.min.js}"></script>

    <!-- Metis Menu Js -->
    <script th:src="@{static/assets/js/jquery.metisMenu.js}"></script>
    <!-- Morris Chart Js -->
    <script th:src="@{static/assets/js/morris/raphael-2.1.0.min.js}"></script>
    <script th:src="@{static/assets/js/morris/morris.js}"></script>


    <script th:src="@{static/assets/js/easypiechart.js}"></script>
    <script th:src="@{static/assets/js/easypiechart-data.js}"></script>

    <script th:src="@{static/assets/js/Lightweight-Chart/jquery.chart.js}"></script>

    <script th:src="@{static/assets/js/morris/morris.js}"> </script>

    <!-- Custom Js -->
    <script th:src="@{static/assets/js/custom.js}"></script>
    
    <script th:src="@{static/my-menu.js}"></script>
    
    <script>
        //<![CDATA[
        $(function(){
            var pageNum=0;
            $.getJSON("rosterchangePage",{pageNum:pageNum},filldate);
            $(":button").click(function (){
                var btn=this.value;
                var pageNum=parseInt($("#pageNum").val());

                var pageAll=parseInt($("#pageAll").val());

                if(btn=="首页"){
                    pageNum=0;
                    $.getJSON("rosterchangePage",{pageNum:pageNum},filldate)
                }else if(btn=="上一页"){
                    pageNum=pageNum-1;
                    if(pageNum<0){
                        pageNum=0;
                    }
                    $.getJSON("rosterchangePage",{pageNum:pageNum},filldate)
                }else if(btn=="下一页"){
                    pageNum+=1;
                    if(pageNum>(pageAll-1)){
                        pageNum=pageAll-1;
                    }

                    $.getJSON("rosterchangePage",{pageNum:pageNum},filldate)
                }else if(btn=="尾页"){
                    pageNum=pageAll-1;
                    $.getJSON("rosterchangePage",{pageNum:pageNum},filldate)
                }




            });

        })
        //]]>
        //<![CDATA[
        function filldate(data){
            var $table=$("table");
            var $head=$("<tr><th>ID</th><th>值班人</th><th>值班人电话</th><th>开始时间</th><th>结束时间</th></tr>")
            $table.empty();
            $table.append($head);

            $.each(data.list, function (i,e) {

                var dataTr = "<tr><td>" + (i+1)
                    + "</td><td>" + e.name
                    + "</td><td>" + e.tel
                    + "</td><td>" + e.startDate
                    + "</td><td>" + e.endDate
                    + "</td></tr>";
                $table.append(dataTr);
            });
            var pageNum = data.pageNum;
            var pageAll = data.pageAll;
            //渲染 “第2页/共11页” 信息
            $("#span").html("第" + (pageNum+1) + "页/共" + pageAll + "页");
            //记录数据信息（当前页数和总页数）
            $("#pageNum").val(pageNum);
            $("#pageAll").val(pageAll);
        }
        //]]>
    </script>


</div>
</body>

</html>
