<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>用户角色</title>
	
	<link th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}" rel="stylesheet"/>
	<link rel="stylesheet" th:href="@{static/assets/materialize/css/materialize.min.css}" media="screen,projection" />
    <!-- Bootstrap Styles-->
    <link th:href="@{static/assets/css/bootstrap.css}" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link th:href="@{static/assets/css/font-awesome.css}" rel="stylesheet" />
    <!-- Morris Chart Styles-->
    <link th:href="@{static/assets/js/morris/morris-0.4.3.min.css}" rel="stylesheet" />
    <!-- Custom Styles-->
    <link th:href="@{static/assets/css/custom-styles.css}" rel="stylesheet" />
    <!-- Google Fonts-->
    <link th:href='@{http://fonts.googleapis.com/css?family=Open+Sans}' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" th:href="@{static/assets/js/Lightweight-Chart/cssCharts.css}"/>
	
	
</head>

<body>
    <div id="wrapper">
        <nav class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle waves-effect waves-dark" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand waves-effect waves-dark" href="ui-elements.html"><i class="large material-icons">insert_chart</i> <strong>upload-system</strong></a>
				
		<div id="sideNav" href=""><i class="material-icons dp48">toc</i></div>
            </div>

            <ul class="nav navbar-top-links navbar-right"> 
				
            </ul>
        </nav>
		<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
	
</ul>
<ul id="dropdown2" class="dropdown-content w250">
						
	<li>
		
	</li>
	<li class="divider"></li>
                       
</ul>
<ul id="dropdown3" class="dropdown-content dropdown-tasks w250">
	
</ul>   
<ul id="dropdown4" class="dropdown-content dropdown-tasks w250">
  <li>
		
	</li>
	<li class="divider"></li>
                       
</ul>  
	   <!--/. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">

                    
                    <li>
                        <a href="ui-elements.html" class="active-menu  waves-effect waves-dark"><i class="fa fa-desktop"></i> 主界面</a>
                    </li>
					<li>
                        <a href="chart.html" class="waves-effect waves-dark"><i class="fa fa-bar-chart-o"></i> 事件初报</a>
                    </li>
                                 
                    <li>
                        <a href="table.html" class="waves-effect waves-dark"><i class="fa fa-table"></i> 值班安排</a>
                    </li>
                    <li>
                        <a href="form.html" class="waves-effect waves-dark"><i class="fa fa-edit"></i> 交班安排 </a>
                    </li>
					<li>
                        <a class="waves-effect waves-dark" href="index.html"><i class="fa fa-dashboard"></i> 统计分析</a>
                    </li>
					<li>
                        <a class="waves-effect waves-dark" href="#"><i class="fa fa-edit"></i> 用户管理</a>
                    </li>
                         
                </ul>

            </div>

        </nav>
        <!-- /. NAV SIDE  -->
      
		<div id="page-wrapper">
			<div class="header"> 
				<h1 class="page-header">
				用户角色管理
				</h1>
					

			</div>
			
			
		<div class="container">
		<div class="row">
			<div class="col-sm-6 col-sm-offset-4">
				<h1 th:text="${roleName}+'-用户维护'"></h1>
			</div>
		</div>
		<div class="row">


			<div class="form-group">
				<div class="checkbox">
					<span style="color: blue;"><b>角色拥有的用户</b></span>
					
							
							<span th:each="user,ustate:${listUser}">
							<input type="checkbox" th:id="${user.uid}" name="checkedName" th:value="${user.uid}" checked="checked" />
							<label th:for="${user.uid}" th:text="${user.uname}">
							
							</label>
							</span>
                     
						
					</div>
					<hr />
					<span style="color: blue;"><b>角色没有拥有的用户</b></span>
					<div class="row">
					

							<span th:each="user,ustate:${nolistUser}">
							<input type="checkbox" th:id="${user.uid}" name="noCheckedName" th:value="${user.uid}" />
							<label th:for="${user.uid}" th:text="${user.uname}">
							
							</label>
							</span>

					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-5">
					<button type="button" class="btn btn-primary"
						onclick="submitUserId()">提交</button>
				</div>
			</div>

		</div>
	</div>
<div style="display: none;">
	<form th:action="@{updateRoleUser}" method="post" id="addordelformId" >
		<input type="text" id="addId" name="addName" /> 
		<input type="text" id="delId" name="delName" /> 
		<input type="text" th:value="${roleId}" name="roleId"/>
			<input type="text" th:value="${roleName}" name="roleName"/>
	</form>
	</div>
	
	</div>

	
			<!-- 页脚  -->
			<footer>
				<p>Copyright &copy; 2016.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
			</footer>
        
            <!-- /. PAGE INNER  -->
       
        <!-- /. PAGE WRAPPER  -->
    
    <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
   <script th:src="@{static/assets/js/jquery-1.10.2.js}"></script>
	
	<!-- Bootstrap Js -->
    <script th:src="@{static/assets/js/bootstrap.min.js}"></script>
	
	<script th:src="@{static/assets/materialize/js/materialize.min.js}"></script>
	
    <!-- Metis Menu Js -->
    <script th:src="@{static/assets/js/jquery.metisMenu.js}"></script>
    <!-- Morris Chart Js -->
    <script th:src="@{static/assets/js/morris/raphael-2.1.0.min.js}"></script>
    <script th:src="@{static/assets/js/morris/morris.js}"></script>
	
	
	<script th:src="@{static/assets/js/easypiechart.js}"></script>
	<script th:src="@{static/assets/js/easypiechart-data.js}"></script>
	
	<script th:src="@{static/assets/js/Lightweight-Chart/jquery.chart.js}"></script>
	
    <!-- Custom Js -->
    <script th:src="@{static/assets/js/custom.js}"></script> 
	
	<script type="text/javascript">
	
		
		function submitUserId() {
			//拼接需要添加的用户ID
			var userAddId = "";
			$.each($("input:checkbox[name='noCheckedName']:checked"),
					function() {
						userAddId += $(this).val() + ",";
					});
			//拼接需要删除的用户ID
			var userDellId = "";
			$.each($("input:checkbox[name='checkedName']"), function() {
				if ($(this).prop('checked') == false) {
					userDellId += $(this).val() + ",";
				}
			});
			//把拼接好的字符串放入到隐藏表单
			$("#addId").val(userAddId);
			$("#delId").val(userDellId);
			//提交表单
			
			$("#addordelformId").submit();
		}
	</script>
</body>

</html>